.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1e1e1e;
}

.main {
    height: calc(100vh - 72px - 64px);
    display: flex;
}

.problemContent {
    padding: 24px;
    font-size: 18px;
    overflow-y: scroll;
    width: 40%;
    min-width: 100px;
}

.codeEditor {
    min-width: 300px;
    padding: 36px 0;
    flex-grow: 1;
}
